<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Friendzy</title>
        <meta name="description" content="This is Friendzy">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <!-- <div class="container-fluid overlay-div mx-0 px-0">
            <svg xmlns="http://www.w3.org/2000/svg" height = "45vh" viewBox="0 0 1440 320"><path fill="#333" fill-opacity="1" d="M0,160L120,181.3C240,203,480,245,720,234.7C960,224,1200,160,1320,128L1440,96L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-4 m-auto">
                    <h1 class="text-center title mb-4">Friendzy!</h1>
                    <p class="lead text-center tagline my-4">ASK QUESTIONS, SET OFF FRENZY</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 buttons">
                    <button onclick="location.href='/signin'" type="button" class="btn-primary signin">Sign-In</button>
                </div>
                <div class="col-lg-3 buttons">
                    <button onclick="location.href='/register'" type="button" class="btn-danger register">Register</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 buttons github">
                    <button onclick="location.href='https://github.com/antrikshmisri/Friendzy'" type="button">View Github Repo</button>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="" async defer></script>
    </body>
</html>