body
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background:  rgba(201,93,99,1);
    font-family: 'Jura', sans-serif;
}
.disabled
{
  pointer-events: none;
}
form
{
  width: 500px;
  padding: 0 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1.title
{
    color: #496ddb;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Bungee Outline', cursive !important;
    margin-bottom: 2rem;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signin-container {
    max-width: 475px !important;
    min-width: 60% !important;
    min-height: 75vh !important;
    border-radius: 10px;
    background-color: #ffffff;
    filter: drop-shadow(2px 2px 10px  rgb(129, 59, 62));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .signin-container .user-inputs input,
  button {
    width: 100%;
    min-height: 50px !important;
    margin-bottom: 20px;
    border-radius: 7px;
    outline: none;
    border: none;
  }
  
  .signin-container .user-inputs input {
    background-color: #eeeeee;
    padding-left: 20px;
    outline: none;
  }
  .signin-container .user-inputs button {
    position: relative;
    z-index: 1;
    transition: 0.25s ease-in;
    background: linear-gradient(
      144deg,
      rgba(73, 109, 219,1) 0%,
      rgba(66, 74, 114,1) 90%
    );
    min-height: 40px !important;
    color: white;
    border-radius: 7px;
    filter: drop-shadow(0px 5px 8px #9b9b9b);
  }
  
  .signin-container .user-inputs button::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      144deg,
      rgba(73, 109, 219,1) 50%,
      rgba(66, 74, 114,1) 100%
    );
    z-index: -1;
    transition: opacity 0.25s linear;
    opacity: 0;
    border-radius: 7px;
  }
  
  .signin-container .user-inputs button:hover::before {
    opacity: 1;
  }
  .signin-container .user-inputs .reset-link {
    margin-top: 20px;
  }
  
  .signin-container .user-inputs .reset-link a {
    color: #472876;
    text-decoration: none;
  }
  