body
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background:  rgba(201,93,99,1);
    font-family: 'Jura', sans-serif;
    margin: 0 0;
    padding: 0 0;
    overflow-x: hidden
}

.overlay-div
{
    border-bottom-left-radius: 50%;
    border-bottom: 2px solid #fafafa;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fafafa;
    width: 90vh;
    min-height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0;
    transform: translateX(-51%) translateY(-51%) rotate3d(0,0,1,-45deg);
    background-color: #333;
}
.overlay-div .span-div
{
    min-height: 30vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.overlay-div .span-div span
{
    text-transform: uppercase;
    font-weight: 700;
}
h1.title
{
    /* mix-blend-mode: color-dodge; */
    color: #496ddb;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Bungee Outline', cursive !important;
}
p.tagline
{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}
.buttons
{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    min-height: 40px;
}

.buttons button
{
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    min-width: 60%;
    border: none;
    outline: none;
    border-bottom: 5px solid #fafafa;
}
.github button
{
    color: #fafafa;
    background-color: #333;
}
.buttons button:hover
{
    border-bottom: 1px solid #fafafa;
}
.buttons button:hover
{
    filter: grayscale(50%);
    border-radius: 18px;
}
.buttons button.signin
{
    background-color: #496ddb;
}
.buttons button.register
{
    background-color: #ee8434;
}
